.title {
  /* font-family: Montserrat, sans-serif; */
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 3.5rem;
  margin-top: 0;
  margin-bottom: 2.625rem;
  text-rendering: optimizeLegibility;
}
.title a {
  /* color:black; */
  text-decoration: none;
}

.articlesList,
.articlesList > li {
  list-style: none;
  padding: 10px;
  /*margin: 0 0 2.625rem;*/
}

.footer {
  padding: 10px 10px 0px 10px;
  margin-top: 7rem;
  margin-bottom: 2rem;
  bottom: 0;
  height: 20px;
}



.card {
  min-width: 250px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  transition: .2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
  background-color: #131516;
}

